<h2>Check submission</h2>

<p>To view received feedback on your work, please enter the key of that work. You got it when you submitted your work. </p>
<label>Key: </label><input type="text" [formControl]="keyContent"><button (click)="getWork()">Check submission</button>

<div *ngIf="work">
    <h2>Work #{{work.id}}</h2>
    <p>{{work.published}}</p>
    <div class="content"><p>{{work.content}}</p></div>

    <div *ngIf="work.feedback.length > 0">
        <h3>Received feedback</h3>
        <div *ngFor="let feedback of work.feedback">
            <p>{{feedback.submitted}}</p>
            <div class="content"><p>{{feedback.content}}</p></div>
        </div>
    </div>
</div>