nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: SignPainter;
    color: darkred;
    font-size: 3.8em;
    margin-top: 25px;
    margin-bottom: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* From https://www.w3schools.com/Css/css_navbar.asp */
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}