<label>
  Author: <input #author placeholder="Your name" />
</label><br>
<label>
  Recipient: <input #recipient (keyup)="0" placeholder="Jan Jansen" />
</label><br>
<textarea #content></textarea><br>

<button (click)="addFeedback(author.value, recipient.value, content.value)">Submit</button>

<div *ngIf="response">
  <ul *ngIf="!(response.entity.length === 0); else elseBlock">
    <li *ngFor="let feedback of response.entity">
      {{feedback.id}}<br>
      {{feedback.author}}<br>
      {{feedback.recipient}}<br>
      {{feedback.content}}
    </li>
  </ul>
  <ng-template #elseBlock>
    <p>
      {{response.responseText}}
    </p>
  </ng-template>
</div>