<label>
  Author: <input #author placeholder="Your name" />
</label><br>
<label>
  Recipient: <input #recipient (keyup)="0" placeholder="Jan Jansen" />
</label><br>
<textarea #content></textarea><br>

<button (click)="addFeedback(author.value, recipient.value, content.value)">Submit</button>

<div *ngIf="feedbacks">
  <ul *ngIf="!(feedbacks.length === 0); else elseBlock">
    <li *ngFor="let feedback of feedbacks">
      {{feedback.id}}<br>
      {{feedback.feedbackGiver.username}}<br>
      {{feedback.feedbackTaker.username}}<br>
      {{feedback.feedbackText}}
    </li>
  </ul>
  <ng-template #elseBlock>
    <p>
      {{response.responseText}}
    </p>
  </ng-template>
</div>