/* You can add global styles to this file, and also import other style files */
body {
    max-width: 1024px;
    margin: auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}